// Specific CSS for your home-page
#bg{
  margin: 0 0 -240px 0;
}
.blocker{
  background:rgba(224, 224, 224, 0);
  width:100%;
  height:100%;
  position:absolute;
  top:-1%;
}

.rise-set{
  background: rgb(244,161,157);
  background: linear-gradient(0deg, rgba(244,161,157,1) 40%, rgba(164,204,198,1) 100%);
}
.day{
  background: rgb(157,198,255);
background: linear-gradient(0deg, rgba(212,254,255,1) 0%, rgba(64,180,213,1) 100%);
}
.night{
  background: rgb(62,62,62);
  background: linear-gradient(0deg, rgba(62,62,62,1) 0%, rgba(31,35,89,1) 100%);
}

#home-logo{
  width: 350px;
  margin: 0 12% 0 8%;
  border: none;
}

@media (max-width: 850px){
  #home-logo {
    width: 200px;
  }
}

@media (min-width: 2400px){
  #home-logo {
    width: 500px;
  }
}

#sunrise-ico, #sun-ico, #sunset-ico, #night-ico {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.419);
  padding: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px 3px;
  &:hover{
    background-color: rgba(255, 255, 255, 0.775);
  }
}

@media (min-width: 2000px){
  #sunrise-ico, #sun-ico, #sunset-ico, #night-ico {
    font-size: 40px;
    margin: 5px 8px;
    width: 70px;
    height: 70px;
    padding: 15px;
  }
}

.time-container{
  position: absolute;
  bottom: 5%;
  right: 3%
}
.clignote{
  animation: fadepatern 5s ease infinite;
}
@keyframes fadepatern{
  0%{opacity: 1;}
  40%{opacity:0;}
  60%{opacity:0;}
  100%{opacity: 1;}
}
