@import "reviews";

.nav-btns {
  position: sticky;
  top: 0;
  background-color: rgba(245, 253, 255, 0.726);
  height: 50px;
  width: 100vw;
  backdrop-filter: blur(8px);
}

.category-title {
  margin-bottom: 20px;
}

.address {
  color: grey;
  text-decoration: underline;
}

.station-name-show{
  color: white
}

#back-show{
  text-decoration: none;
  color: $black;
}
