@import "reviews";

.nav-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(245, 253, 255, 0.705);
  height: 50px;
  backdrop-filter: blur(8px);
}

.container-anchor {
  padding-top: 50px;
}

.category-title {
  margin-bottom: 20px;
}
