<div class="footer">
  <div class="ftr-container" id="ftr">
      <div>
      <a href="#" class="links"><i class="fab fa-facebook"></i></a>
      <a href="#" class="links"><i class="fab fa-twitter-square"></i></a>
      <a href="#" class="links"><i class="fab fa-instagram"></i></i></a>

      <p> Team Alanej® wish you an amazing winter <i id="flake" class="fas fa-snowflake"></i></p>
      </div>
    </div>
</div>
