  <div class="navbar-home">
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag("https://res.cloudinary.com/robintrllt/image/upload/v1637666260/logo_alanej_horizontal_wbmtr9.png", id:"logo") %>
    <% end %>
  </div>
