
<div class="research-priorities">

  <h3 class = "prio-title"><strong><i class="fas fa-exchange-alt"></i> Reclassez vos priorités </strong></h3>

  <ul id="sortable-items">
    <li class= "sortable-item" id="prio-neige" data-id="snow"><i class="far fa-snowflake"></i>  Neige</li>
    <li class= "sortable-item" id="prio-météo" data-id="wheater"><i class="fas fa-sun"></i>  Météo</li>
    <li class= "sortable-item" id="prio-budget" data-id="budget"><i class="fas fa-euro-sign"></i>  Budget</li>
    <li class= "sortable-item" id="prio-trajet" data-id="trip"><i class="fas fa-route"></i>  Trajet</li>
  </ul>

</div>
