<div class="research-priorities">

  <h3 class = "home-prio-title"><strong><i class="fas fa-exchange-alt"></i> Classez vos priorités </strong></h3>

  <ul id="sortable-items">
    <li class= "home-sortable-item" data-id="snow"><i class="far fa-snowflake"></i></li>
    <li class= "home-sortable-item" data-id="weather"><i class="fas fa-sun"></i></li>
    <li class= "home-sortable-item" data-id="budget"><i class="fas fa-euro-sign"></i></li>
    <li class= "home-sortable-item" data-id="trip"><i class="fas fa-route"></i></li>
  </ul>

</div>
