
<div class="research-priorities">

  <h3 class = "prio-title"><strong>Classez vos priorités :</strong></h3>

  <ul id="sortable-items">
    <li class= "sortable-item" id="prio-neige" data-id="snow">Enneigement</li>
    <li class= "sortable-item" id="prio-météo" data-id="wheater">Météo</li>
    <li class= "sortable-item" id="prio-budget" data-id="budget">Budget</li>
    <li class= "sortable-item" id="prio-trajet" data-id="trip">Trajet</li>
  </ul>

</div>
