<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        $("#sortable3").sortable();
        $("#sortable3").disableSelection();
    });
</script>

<div id="container-horizontal">

  <div class="item" data-id="1" >
    <h4>Enneigement</h4>
        <%# <p>Pour moi la neige c'est primordial</p> %>
  </div>

  <div class="item" data-id="2">
    <h4>Météo</h4>
        <%# <p>Le soleil ça compte plus que tout</p> %>
  </div>

  <div class="item" data-id="3">
    <h4>Buget</h4>
    <%# <p>Mon budget est sérré</p> %>
  </div>

  <div class="item" data-id="4">
    <h4>Temps de trajet</h4>
    <%# <p>Je veux etre le plus vite possible sur mes skis</p> %>
  </div>

</div>
