<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>

<div class="container-postions-fluids">

  <div class="positions">
    <h2 id="position-1">1</h2>
    <h2 id="position-2">2</h2>
    <h2 id="position-3">3</h2>
    <h2 id="position-4">4</h2>
  </div>

  <div class="container-fluids">

      <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">

        <div class="list-item" data-id="1" >
            <div class="picto-parameter">
              <a href="#"><span class="fas fa-snowflake picto bluesnow"></span></a>
            </div>
            <div class="description-parameter">
              <h4>Enneigement</h4>
              <p>Pour moi la neige c'est primordial</p>
            </div>
        </div>

        <div class="list-item" data-id="2">
            <div class="picto-parameter">
              <a href="#"><span class="fas fa-sun picto yellow"></span></a>
            </div>
            <div class="description-parameter">
              <h4>Météo</h4>
              <p>Le soleil ça compte plus que tout</p>
            </div>
        </div>

        <div class="list-item" data-id="3">
            <div class="picto-parameter">
              <a href="#"><span class="fas fa-hand-holding-usd picto green"></span></a>
            </div>
            <div class="description-parameter">
              <h4>Buget</h4>
              <p>Mon budget est serré</p>
            </div>
        </div>

        <div class="list-item" data-id="4">
            <div class="picto-parameter">
              <a href="#"><span class="fas fa-clock picto grey"></span></a>
            </div>
            <div class="description-parameter">
                <h4>Temps de trajet</h4>
                <p>Je veux etre le plus vite possible sur mes skis</p>
            </div>
        </div>

      </div>
  </div>
</div>
