
<div class="research-priorities">

  <h3 class = "prio-title"><strong>Classez vos priorités :</strong></h3>

  <ul id="sortable-items">
    <li class= "sortable-item" id="prio-neige" data-id="1">Enneigement</li>
    <li class= "sortable-item" id="prio-météo" data-id="2">Météo</li>
    <li class= "sortable-item" id="prio-budget" data-id="3">Budget</li>
    <li class= "sortable-item" id="prio-trajet" data-id="4">Trajet</li>
  </ul>

</div>
