<canvas id="bg"></canvas>
<div class="logo-pos">
  <img src="https://res.cloudinary.com/robintrllt/image/upload/v1637666260/logo_alanej_horizontal_wbmtr9.png" class="home-logo">
    <div class="srcContainer">

    <div class="src">
        <form class="Flex-Form">
        <input name="Champs1" type="text" class="large-input">


    <div class="boxChamps">
        <input name="Champs2" type="text" class="normal-input">
        <input name="Champs3" type="text" class="normal-input">
    </div>
    <button>Go à la neige!</button>

    </form>
    </div>
  </div>
</div>