.btn-go {
  background-image: linear-gradient(to right, #25a5d3 0%, #a3edff  51%, #33a6c9  100%);
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
}

.btn-go:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-anchor {
  text-decoration: none;
  padding: 0px 10px;
}
