.container {
  margin: 0 auto ; /* bottom = footer height */
}
.container-anchor {
  padding-top: 50px;
  margin-bottom: 40px;
}
.container-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#container-weather-webcam {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
}
.container-weather {
  width: 55%;
}
.container-webcam {
  width: 40%;
}

#container-snow-trip {
  width: 100%;
  height: 455px;
  display: flex;
  justify-content: space-between;
}
.container-snow {
  width: 40%;
}
.container-trip {
  width: 55%;
}

#container-station-plan {
  display: flex;
  justify-content: space-between;
}
.container-plan {
  width: 58%;
}
.container-station {
  width: 37%;
}
