
.errorImg{
background:center / cover no-repeat url('https://zupimages.net/up/21/48/ij61.gif');
width:100%;
height: 740px;
margin-bottom: -280px;
text-align: center;
}
.errorText{
    padding-top: 20%;
    font-size: 6vh;
    font-weight: bold;
    color: white;
}
