.home-container{
  position: absolute;
  top: 20%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 40%;
  height: 50%;
  opacity:1;
}

.simple_form{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 400px;
}

#query_city{
  width: 400px;
  height: 45px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  font-weight: 600;
  padding-right: 40px;
  &:focus{
    background: white;
  }
}

@media (max-width: 850px){
  #query_city{
  width: 250px;
  }
}

#range_start, #range_end{
  width: 200px;
  margin: 0;
  height: 45px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  font-weight: 600;
  border: none;
  &:focus{
    background: white;
  }
}

#range_start{
  border-radius: 8px 0 0 8px;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
  border-right: 1px solid #e9eaebb8;
}

#range_end{
  border-radius: 0 8px 8px 0;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
}

.dates{
  display: flex;
  justify-content: center;
  margin: 0;
}

@media (max-width: 850px){
  .dates{
  display: flex;
  flex-direction: column;
  }
}

@media (max-width: 850px){
  .home-container{
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 80%;
  height: 50%;
  }
}
