.home-container{
  position: absolute;
  top: 20%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 40%;
  height: 50%;
  opacity:1;
}

.simple_form{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

#query_city{
  width: 400px;
  height: 45px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 187, 0, 0.4);
  box-shadow: none;
  font-weight: 600;
  &:focus{
    background: white;
  }
}

@media (max-width: 850px){
  #query_city{
  width: 250px;
  }
}

#range_start, #range_end{
  width: 192px;
  height: 45px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 187, 0, 0.4);
  box-shadow: none;
  font-weight: 600;
  &:focus{
    background: white;
  }
}


.dates{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (max-width: 850px){
  .dates{
  display: flex;
  flex-direction: column;
  }
}

@media (max-width: 850px){
  .home-container{
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 80%;
  height: 50%;
  }
}
