
.circular-progress {
    position: relative;
    height: 120px;
    width: 120px;
    background-color: orange;
    border-radius: 50%;
    display: grid;
    place-items:center;
    transition: all 0.1s ease;
  }
  
  
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .value-container{
    position: relative;
    font-weight: bold;
    font-size: 25px;
  }
  .little {
    height: 50px !important;
    width: 50px !important;
  }
  