.container-postions-fluids {
  border: solid;
  display: flex;
  justify-content: row;
}
.positions {
  border: solid;
  display: flex;
  flex-direction: column;
}
.positions > h2 {
  height: 25%;
  padding: 15px;
  margin-bottom: 0;
  border: solid;
}

.container-fluids {
  display: flex;
  flex-grow: 1;
}

.list-item {
  display: flex;
  justify-content: row;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.picto-parameter {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.picto {
  font-size: 60px;
}

.description-parameter {
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 0;
}
