.home-sortable-item{
  list-style: none;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 32px;
  width: 100%;

  &:nth-child(1) {
    width: 30%;
    background: rgb(233, 101, 0);
  }

  &:nth-child(2) {
    width: 25%;
    background:  rgba(233, 101, 0, 0.8);
  }

  &:nth-child(3) { width: 21%;
    width: 22%;
    background:  rgba(233, 101, 0, 0.65);
  }

  &:nth-child(4) {
    width: 18%;
    background:  rgba(233, 101, 0, 0.5);
  }
}

.home-prio-title{
  font-size: 28px;
  color:rgb(72, 72, 72);
}
