.research-priorities{
  margin-top: 20px;
}

#sortable-items{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.sortable-item{
  list-style: none;
  padding: 10px 30px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;

  &:nth-child(1) {
    width: 33%;
    background: rgb(233, 101, 0);
  }

  &:nth-child(2) {
    width: 26%;
    background:  rgba(233, 101, 0, 0.85);
  }

  &:nth-child(3) { width: 21%;
    width: 22%;
    background:  rgba(233, 101, 0, 0.65);
  }

  &:nth-child(4) {
    width: 15%;
    background:  rgba(233, 101, 0, 0.5);
  }
}
