// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "flatpickr/dist/flatpickr";

html {
  position: relative;
  min-height: 100%;
}

body{
  margin: 0 0 240px 0;
  background: rgb(245, 253, 255);
}

iframe {
  height: 100% !important;
}

.green{
  color: $green;
}

.blue{
  color: $blue;
}

.red{
  color: $red;
}

.black{
  color: $black;
}

.bluesnow {
  color: rgb(40, 97, 119);
}

.yellow {
  color: rgb(198, 201, 26);
}

.grey {
  color: rgb(92, 92, 92)
}

.m-l {
  margin-left: 8px;
}
.p-t {
  padding-top: 6px;
}
li{
  cursor: grab;
}
